@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark div.__next {
    background: '#000000';
}

html {
    scroll-behavior: smooth;
}